body {
  padding: 0px !important ;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

#map {
  width: 100%;
  height: 100vh;
}

#navbar {
  height: 50px;
  width: 100%;
  background: #262626;
  color: white;
  font-size: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#infobox {
  position: absolute;
  top: 100px;
  z-index: 10000;
  background-color: aliceblue;
  left: 20px;
  padding: 20px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 5%;
  text-align: center;
}

#infotitle {
  font-weight: bolder;
}

.marker {
  border: 1px solid black;
  background-color: green;
  opacity: 0.8;
  width: 24px;
  height: 24px;
  border-radius: 50%;
}

.infowindow_wrap {
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 20px;
}

.infowindow_title {
  font-size: 15px;
  font-weight: bold;
}

.infowidow_content {
  font-size: 12px;
  font-weight: normal;
}
